<configuration>
  <appSettings>
    <add key="PathToConfigs" value="/Data/Configs"/>
    <add key="PathToHtml" value="/Data/HTML"/>
    <add key="HOST_URL" value="http://*:2020/"/>
    <add key="WSS_URL" value="ws://localhost:2021/"/>
    <add key="CacheTime" value="0,5"/>
    <add key="CheckRequestTimeMS" value="10"/>
  </appSettings>
</configuration>