<configuration>
  <appSettings>
    <add key="PathToConfigs" value="/Data/Configs"/>
    <add key="PathToHtml" value="/Data/HTML"/>
    <add key="PORT" value="2021"/>
    <add key="CacheTime" value="0,0001"/>
    <add key="CheckRequestTimeMS" value="10"/>
    <add key="CheckSpamCountMSGS" value="10"/>
  </appSettings>
</configuration>